body {
    background-image: url("../images/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.fill-height {
    height: calc(100vh - 56px);
}

