{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_field %}
{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-8">
                <div class="card rounded-3">
                    <h3 class="card-title">Contract Details</h3>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.startDate) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.depositAmountPaid) }}
                                    </div>
                                    <div class="col-12">
                                        {{ render_field(form.contractType) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.workingVolunteer) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.checkingVolunteer) }}
                                    </div>
                                    <div class="col-12">
                                        {{ render_field(form.submit) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.firstName) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.lastName) }}
                                    </div>
                                    <div class="col-12">
                                        {{ render_field(form.emailAddress) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.make) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.model) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.colour) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.decals) }}
                                    </div>
                                    <div class="col-12">
                                        {{ render_field(form.serialNumber) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.notes) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.condition) }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}