{% extends "base.html" %}
{% block content %}
     <h1>Contract Details</h1>
     <form action="" method="post" novalidate>
         {{ form.hidden_tag() }}

         <h4>Essential Details:</h4>

         <p>
             {{ form.startDate.label }}
             {{ form.startDate() }}
             {% for error in form.startDate.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.depositAmountPaid.label }}
             {{ form.depositAmountPaid() }}
             {% for error in form.depositAmountPaid.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.contractType.label }}
             {{ form.contractType() }}
             {% for error in form.contractType.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.workingVolunteer.label }}
             {{ form.workingVolunteer() }}
             {% for error in form.workingVolunteer.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.checkingVolunteer.label }}
             {{ form.checkingVolunteer() }}
             {% for error in form.checkingVolunteer.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>{{ form.submit() }}</p>

         <h4>These details can be entered but are not required:</h4>

         <p>
             {{ form.firstName.label }}
             {{ form.firstName() }}
             {% for error in form.firstName.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.lastName.label }}
             {{ form.lastName() }}
             {% for error in form.lastName.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.emailAddress.label }}
             {{ form.emailAddress() }}
             {% for error in form.emailAddress.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.make.label }}
             {{ form.make() }}
             {% for error in form.make.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.model.label }}
             {{ form.model() }}
             {% for error in form.model.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.colour.label }}
             {{ form.colour() }}
             {% for error in form.colour.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.decals.label }}
             {{ form.decals() }}
             {% for error in form.decals.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.serialNumber.label }}
             {{ form.serialNumber() }}
             {% for error in form.serialNumber.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.notes.label }}
             {{ form.notes() }}
             {% for error in form.notes.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

         <p>
             {{ form.condition.label }}
             {{ form.condition() }}
             {% for error in form.condition.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>

     </form>
{% endblock %}