{% extends "base.html" %}
{% block content %}
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card rounded-3 p-2">
                    <h3 class="card-title">Almost there...</h3>
                    <div class="card-body">
                        <p>Dear {{ firstName }} {{ lastName }}, to finish requesting your appointment for {{ appointmentTitle }} on {{ appointmentDate }} at {{ appointmentTime }}, <bold style="color: #ff4411">verify your email address by clicking on the link sent to {{ emailAddress }} within the next 24 hours.</bold><br><br>If you cannot find the email, make sure to check your spam folder!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}