{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% block content %}
        <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-10 col-xl-9">
                <div class="card rounded-3 h-100 p-2">
                    <h3 class="card-title">
                        Bike Details
                    </h3>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.make) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.model) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.colour) }}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ render_field(form.decals) }}
                                    </div>
                                    <div class="col-12">
                                        {{ render_field(form.serialNumber) }}
                                    </div>
                                    <div class="col-12">
                                        {{ render_field(form.submit) }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}