{% extends "base.html" %}
{% block content %}
     <h1>Bike Details</h1>
     <form action="" method="post" novalidate>
         {{ form.hidden_tag() }}
         <p>
             {{ form.make.label }}
             {{ form.make() }}
             {% for error in form.make.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
         <p>
             {{ form.model.label }}
             {{ form.model() }}
             {% for error in form.model.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
         <p>
             {{ form.colour.label }}
             {{ form.colour() }}
             {% for error in form.colour.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.decals.label }}
             {{ form.decals() }}
             {% for error in form.decals.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.serialNumber.label }}
             {{ form.serialNumber() }}
             {% for error in form.serialNumber.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
         <p>{{ form.submit() }}</p>
     </form>
{% endblock %}