{% extends "base.html" %}
{% block content %}
    <div class="container pt-2">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card rounded-3 h-100 p-2">
                    <h3 class="card-title">Appointments on {{ date }}</h3>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col">Time</th>
                                    {% with slot_nums = range(1, max_concurrent + 1) %}
                                        {% for i in slot_nums %}
                                            <th scope="col">Slot {{ i }}</th>
                                        {% endfor %}
                                    {% endwith %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for time_slot in table_data %}
                                    <tr>
                                        <th scope="row" class="table-secondary">{{ time_slot }}</th>
                                        {% for entry in table_data[time_slot] %}
                                            {% if entry %}
                                                <td class="table-{{ entry["status"] }}" rowspan="{{ entry["slots"] }}">{{ entry["name"] }} for {{ entry["title"] }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-primary btn-block" href="{{ url_for("view_appointments", date=previous_date) }}">{{ previous_date }}</a>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <a class="btn btn-primary btn-block" href="{{ url_for("view_appointments", date=next_date) }}">{{ next_date }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}