{% extends "base.html" %}
{%  from "bootstrap5/form.html" import render_field %}
{% block content %}
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="row">
                    <div class="col-12 my-2">
                        <div class="card rounded-3 p-2">
                            <h3 class="card-title">Lendee Details</h3>
                            <div class="card-body">
                                <p>{{ contract["person"]["firstName"] }} {{ contract["person"]["lastName"] }}</p>
                                <p>{{ contract["person"]["emailAddress"] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 my-2">
                        <div class="card rounded-3 p-2 h-100">
                            <h3 class="card-title">Bike Details</h3>
                            <div class="card-body">
                                <p>Make: {{ contract["bike"]["make"] }}</p>
                                <p>Model: {{ contract["bike"]["model"] }}</p>
                                <p>Colour: {{ contract["bike"]["colour"] }}</p>
                                <p>Decals: {{ contract["bike"]["decals"] }}</p>
                                <p>Serial Number: {{ contract["bike"]["serialNumber"] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card rounded-3 p-2 h-100">
                    <h3 class="card-title">Contract Details</h3>
                    <div class="card-body d-flex flex-column">
                        <p>From {{ contract["startDate"] }} to {{ contract["endDate"] }}</p>
                        <p>Notes: {{ contract["notes"] }}</p>
                        <p>Condition: {{ contract["condition"] }}</p>
                        <p>Contract Type: {{ contract["contractType"] }}</p>
                        <p>Deposit: &#163;{{ contract["depositAmountPaid"] }} to {{ contract["depositCollectedBy"] }}</p>
                        <p>Done by {{ contract["workingVolunteer"] }} and checked by {{ contract["checkingVolunteer"] }}</p>
                        {% if not (contract["returnedDate"] and contract["volunteerReceived"]) %}
                            <a href="/extendcontract?contractId={{ contract["_id"] }}" class="btn btn-primary btn-block mt-auto w-100">Extend Contract</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="card rounded-3 p-2 h-100">
                    <h3 class="card-title">Return</h3>
                    <div class="card-body d-flex flex-column">
                        {% if contract["returnedDate"] and contract["volunteerReceived"] %}
                            <p>Returned on {{ contract["returnedDate"] }}</p>
                            <p>Received by {{ contract["volunteerReceived"] }}</p>
                            <p>Deposit of &#163;{{ contract["depositAmountReturned"] }} returned by {{ contract["depositReturnedBy"] }}</p>
                        {% else %}
                            <form action="" method="post" novalidate class="h-100">
                                {{ form.hidden_tag() }}
                                <div class="container h-100">
                                    <div class="row">
                                        <div class="col">
                                            {{ render_field(form.returnedDate) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ render_field(form.depositAmountReturned) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ render_field(form.depositReturnedBy) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ render_field(form.volunteerReceived) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ render_field(form.submit, class="mt-auto w-100") }}
                                        </div>
                                    </div>

                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}